@use '../foundation/pxvw.scss' as *;
@use '../foundation/breakPoint.scss' as *;

.Column {
  &Left {
    background: white;
    position: relative;
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      height: 50rem;
      width: 150%;
      transform: rotate(-10deg);
      position: absolute;
      top: calc(50% - 25rem);
      left: -10%;
      background: #bfe0ea;
    }

    @include sp {
      display: none;
    }

    &_header {
      display: flex;
      justify-content: space-between;
      padding: 2.4rem;

      .area {
        border: 1px solid var(--black);
        padding: 0.5rem 1rem;
      }
    }

    .Search {
      width: 360px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &Right {
    background: #00617e;
    display: grid;
    place-items: center;
    padding: 0 4rem;

    @media (max-width: 1100px) {
      display: none;
    }

    .list {
      display: grid;
      gap: 1rem;
      li {
        a {
          color: white;
          text-decoration: underline;
          &:before {
            content: '・';
          }
        }
      }
    }
  }
}
