@use '../foundation/breakPoint.scss' as *;

.Header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include pc {
    display: none;
  }

  .area {
    border: 1px solid var(--black);
    padding: 0.5rem 1rem;
  }
}
